<mirrors>
  <mirror>
    <id>sample</id>
    <url>http://54.205.77.48:8081/repository/sample/</url>
    <mirrorOf>*</mirrorOf>
  </mirror>
</mirrors>

<profiles>
  <profile>
    <id>sample</id>
    <repositories>
      <repository>
        <id>nexus</id>
        <url>http://54.205.77.48:8081/repository/sample/</url>
        <releases>
          <enabled>true</enabled>
        </releases>
        <snapshots>
          <enabled>true</enabled>
        </snapshots>
      </repository>
    </repositories>
  </profile>
</profiles>
<activeProfiles>
  <activeProfile>sample</activeProfile>
</activeProfiles>

